/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background 0.3s color 0.3s;
  position: relative;
}

/* Dark theme */
body.dark {
  background-color: rgb(58, 33, 33); /*darkbrown */
  color: mutated rgb(40, 36, 5); /* mutated gold */
}

/* Light theme */
body.light {
  background-color: rgb(130, 186, 186); /* offwhite */
  color: rgb(42, 20, 12); /* coral */
}

.container {
  text-align: center;
  max-width: 400px;
  width: 90%;
}

#toggle-theme {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px 12px;
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#status {
  /* font-size: 1.2rem;
  margin-bottom: 10px; */
  color: rgb(236, 235, 229);
}

/* Timer */
#display {
  font-size: 2.5rem;
  margin: 20px 0;
  color: rgb(236, 235, 229);
}

/* Buttons */
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  /* background-color: rgba(84, 73, 35, 0.1); */
}

button {
  padding: 12px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.2s, opacity 0.3s;

  /* color: rgb(236, 235, 229); */
}

button:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

/* Laps list */
#laps {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  max-height: 150px;
  overflow-y: auto;
  text-align: left;
  color: #e8e3e3;
}

#laps li {
  padding: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 0.9rem;
}

#copyright {
  position: absolute;
  bottom: 0;
  margin-left: 0%;
  margin-right: 0%;
  /* transform: translateX(-5%); */
  text-align: center;
  font-size: 0.7rem;
  color: rgb(236, 235, 229);
  padding-bottom: 5px;
}

/* Responsive */
@media (max-width: 600px) {
  #display {
    font-size: 2rem;
  }

  button {
    padding: 10px 15px;
    font-size: 0.9rem;
  }
}
